<!DOCTYPE html>
<html lang="en">

<head>

    {{>head}}

</head>

<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    <!-- PRE LOADER -->
    {{>loader}}


    <!-- MENU -->
    {{>header}}

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-xs-12">
                    <div>
                        <br>

                        <img src="./images/accountant.png" alt="" class="img-responsive wc-image">

                        <br>
                    </div>
                </div>

                <div class="col-lg-9 col-md-9 col-xs-12">
                    <form action="#" method="post" class="form">
                        <h2>Accountant</h2>

                        <p class="lead"><strong class="text-primary">Rs 10,000 - Rs 27,000</strong> <small> per
                                month</small></p>

                        <p class="lead">
                            <i class="fa fa-briefcase"></i> Accountant &nbsp;&nbsp;
                            <i class="fa fa-map-marker"></i> Kathmandu &nbsp;&nbsp;
                            <i class="fa fa-file"></i> Contract
                        </p>


                    </form>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Job Description</h4>
                </div>

                <div class="panel-body">
                    <p>An Accountant helps businesses make critical financial decisions by collecting, tracking, and
                        correcting the company's finances. They are responsible for financial audits, reconciling bank
                        statements, and ensuring financial records are accurate throughout the year.</p>

                    <h4>Responsibillitites:</h4>

                    <p>Preparing accounts and tax returns. <br>
                        Monitoring spending and budgets.<br>
                        Auditing and analysing financial performance.<br>
                        Financial forecasting and risk analysis.<br>
                        Advising on how to reduce costs and increase profits.<br>
                        Compiling and presenting financial and budget reports.
                        
                        <br>
                        <br>
                        <b>Experience Required</b>
                        </p>

                </div>
            </div>

            <div class="clearfix">
                <a href="/contact" class="section-btn btn btn-primary pull-left">Apply for this job</a>

                {{>socialR}}

            </div>
        </div>
    </section>

    <!-- FOOTER -->
    {{>footer}}

    <!-- SCRIPTS -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>