<!DOCTYPE html>
<html lang="en">

<head>

    {{>head}}

</head>

<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    <!-- PRE LOADER -->
    {{>loader}}


    <!-- MENU -->
    {{>header}}

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-xs-12">
                    <div>
                        <br>

                        <img src="./images/call-receivers.png" alt="" class="img-responsive wc-image">

                        <br>
                    </div>
                </div>

                <div class="col-lg-9 col-md-9 col-xs-12">
                    <form action="#" method="post" class="form">
                        <h2>Call Receiver</h2>

                        <p class="lead"><strong class="text-primary">Rs 21,000</strong> <small> per month</small></p>

                        <p class="lead">
                            <i class="fa fa-briefcase"></i> Call Receivers &nbsp;&nbsp;
                            <i class="fa fa-map-marker"></i> Lagankhel / Lalitpur &nbsp;&nbsp;
                            <i class="fa fa-file"></i> Contract
                        </p>


                    </form>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Job Description</h4>
                </div>

                <div class="panel-body">
                    <p>To give real service you must add something which cannot be bought or measured with money, and
                        that is sincerity and integrity.</p>

                    <h4>Responsibillitites:</h4>

                    <p>manage inbound and/or outbound calls; <br>
                        follow various communication scripts when speaking to a caller; <br>
                        handle customer engagement; <br>
                        identify customer needs, answer questions and solve problems; <br>
                        up-sell products and services when possible;</p>

                </div>
            </div>

            <div class="clearfix">
                <a href="/contact" class="section-btn btn btn-primary pull-left">Apply for this job</a>

                {{>socialR}}

            </div>
        </div>
    </section>

    <!-- FOOTER -->
    {{>footer}}

    <!-- SCRIPTS -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>