<!DOCTYPE html>
<html lang="en">

<head>

    {{>head}}

</head>

<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    <!-- PRE LOADER -->
    {{>loader}}


    <!-- MENU -->
    {{>header}}

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-xs-12">
                    <div>
                        <br>

                        <img src="./images/cook.png" alt="" class="img-responsive wc-image">

                        <br>
                    </div>
                </div>

                <div class="col-lg-9 col-md-9 col-xs-12">
                    <form action="#" method="post" class="form">
                        <h2>Cook & Helpers</h2>

                        <p class="lead"><strong class="text-primary">Rs 10,000 - Rs 45,000</strong> <small> per
                                month</small></p>

                        <p class="lead">
                            <i class="fa fa-briefcase"></i> Accountant &nbsp;&nbsp;
                            <i class="fa fa-map-marker"></i> Kathmandu &nbsp;&nbsp;
                            <i class="fa fa-file"></i> Contract
                        </p>


                    </form>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Job Description</h4>
                </div>

                <div class="panel-body">
                    <p>A Cook plans, prepares, and cooks food items to ensure the highest quality service and experience
                        for customers. They help keep the kitchen organized and running efficiently. They ensure proper
                        food handling, sanitation and following food storage procedures.</p>

                    <h4>Responsibillitites:</h4>

                    <p>
                        Ensure ingredients and final products are fresh. <br>
                        Follow recipes, including measuring, weighing and mixing ingredients. <br>
                        Bake, grill, steam and boil meats, vegetables, fish, poultry and other foods. <br>
                        Present, garnish and arrange final dishes.<br>
                        Occasionally serve food.
                    </p>

                </div>
            </div>

            <div class="clearfix">
                <a href="/contact" class="section-btn btn btn-primary pull-left">Apply for this job</a>

                {{>socialR}}

            </div>
        </div>
    </section>

    <!-- FOOTER -->
    {{>footer}}

    <!-- SCRIPTS -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>