<!DOCTYPE html>
<html lang="en">

<head>

    {{>head}}

</head>

<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    <!-- PRE LOADER -->
    {{>loader}}


    <!-- MENU -->
    {{>header}}

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-xs-12">
                    <div>
                        <br>

                        <img src="./images/designer.png" alt="" class="img-responsive wc-image">

                        <br>
                    </div>
                </div>

                <div class="col-lg-9 col-md-9 col-xs-12">
                    <form action="#" method="post" class="form">
                        <h2>Graphic Designer</h2>

                        <p class="lead"><strong class="text-primary">Rs 29,000</strong> <small> per
                                month</small></p>

                        <p class="lead">
                            <i class="fa fa-briefcase"></i> Graphic Designer &nbsp;&nbsp;
                            <i class="fa fa-map-marker"></i> Kathmandu &nbsp;&nbsp;
                            <i class="fa fa-file"></i> Contract
                        </p>


                    </form>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Job Description</h4>
                </div>

                <div class="panel-body">
                    <p>Graphic designers create visual text and imagery concepts, by hand or using computer software, to
                        communicate ideas that inspire, inform, or captivate consumers. They develop the overall layout
                        and production design for advertisements, brochures, magazines, and corporate reports, etc.</p>

                    <h4>Responsibillitites:</h4>

                    <p>
                        liaising with clients to determine their requirements and budget.<br>
                        managing client proposals from typesetting through to design, print and production.<br>
                        working with clients, briefing and advising them with regard to design style, format, print
                        production and timescales.
                    </p>

                </div>
            </div>

            <div class="clearfix">
                <a href="/contact" class="section-btn btn btn-primary pull-left">Apply for this job</a>

                {{>socialR}}
            </div>
        </div>
    </section>

    <!-- FOOTER -->
    {{>footer}}

    <!-- SCRIPTS -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>