<!DOCTYPE html>
<html lang="en">

<head>

     {{>head}}

</head>

<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

     <!-- PRE LOADER -->
     {{>loader}}

     {{!-- alerts --}}
     {{#if message}}

     <div class="flex flex-col m-auto mt-5 mb-5 w-3/4 p-8 bg-gray-800 shadow-md hover:shodow-lg rounded-2xl">
          <div class="flex items-center justify-between">
               <div class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         class="w-16 h-16 rounded-2xl p-3 border border-gray-800 text-blue-400 bg-gray-900" fill="none"
                         viewBox="0 0 24 24" stroke="currentColor">
                         <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                    </svg>
                    <div class="flex flex-col ml-3">
                         <div class="font-medium leading-none text-gray-100">{{ message }}</div>
                    </div>
               </div>
          </div>
     </div>

     {{/if}}

     <!-- MENU -->
     <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>

                    <!-- lOGO TEXT HERE -->
                    <img class="logo navbar-brand" src="./images/tree.png" alt="logo">
               </div>

               <!-- MENU LINKS -->
               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-nav-first">
                         <li class="active"><a href="/">Home</a></li>
                         <li><a href="/jobs">Jobs</a></li>
                         <li><a href="/about">About Us</a></li>
                         <li><a href="/contact">Contact Us</a></li>
                    </ul>
               </div>

          </div>
     </section>

     {{!-- slider --}}
     {{>slider}}

     <main>
          <section>
               <div class="container">
                    <div class="row">
                         <div class="col-md-12 col-sm-12">
                              <div class="text-center">
                                   <h2 style="font-size: 5rem;">About us</h2>

                                   <br>

                                   <p class="lead">Hey, we are the SB's team of professionals trying to create
                                        job opportunities for everyone inside Kathmandu valley. We are dedicated to
                                        helping active employers and active job-seekers in the fastest way. We know
                                        finding a job is tough, but SB's make it easier than ever. We created a
                                        platform Now you can apply for the job which you found best fit for you where
                                        you can apply for the job, simply with one touch.<br>

                                        “The job is what you do when you are told what to do. ...”</p>
                              </div>
                         </div>
                    </div>
               </div>
          </section>

          {{!-- jobs section --}}
          {{>jobsData}}
          <div class="courses-info">
               <a href="/jobs" class="section-btn btn btn-primary btn-block text-3xl">Browse More Jobs</a>
          </div>

     </main>

     <!-- CONTACT -->
     {{>contact}}

     <!-- FOOTER -->
     {{>footer}}

     <!-- SCRIPTS -->
     <script src="./js/jquery.js"></script>
     <script src="./js/bootstrap.min.js"></script>
     <script src="./js/owl.carousel.min.js"></script>
     <script src="./js/smoothscroll.js"></script>
     <script src="./js/custom.js"></script>

</body>

</html>