<!DOCTYPE html>
<html lang="en">

<head>

    {{>head}}

</head>

<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    <!-- PRE LOADER -->
    {{>loader}}


    <!-- MENU -->
    {{>header}}

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-xs-12">
                    <div>
                        <br>

                        <img src="./images/salse.png" alt="" class="img-responsive wc-image">

                        <br>
                    </div>
                </div>

                <div class="col-lg-9 col-md-9 col-xs-12">
                    <form action="#" method="post" class="form">
                        <h2>Salse Girl</h2>

                        <p class="lead"><strong class="text-primary">Rs 12,000</strong> <small> per
                                month</small></p>

                        <p class="lead">
                            <i class="fa fa-briefcase"></i> Salse Girl &nbsp;&nbsp;
                            <i class="fa fa-map-marker"></i> Lalitpur / Bhaktapur &nbsp;&nbsp;
                            <i class="fa fa-file"></i> Contract
                        </p>


                    </form>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Job Description</h4>
                </div>

                <div class="panel-body">
                    <p>The salesperson is responsible for greeting customers, helping them find items in the store, and
                        ringing up purchases. To be successful as a salesperson you must have excellent communication
                        skills. A good salesperson meets sales objectives while remaining polite and helpful to
                        customers.</p>


                </div>
            </div>

            <div class="clearfix">
                <a href="/contact" class="section-btn btn btn-primary pull-left">Apply for this job</a>

                {{>socialR}}

            </div>
        </div>
    </section>

    <!-- FOOTER -->
    {{>footer}}

    <!-- SCRIPTS -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>