<section id="contact">
     <div class="container">
          <div class="row">

               <div class="col-md-6 col-sm-12">
                    <form id="contact-form" role="form" action="/apply" method="post">
                         <div class="col-md-12 col-sm-12">
                              <input type="text" class="form-control" placeholder="Enter full name" name="name"
                                   required>

                              <input type="email" class="form-control" placeholder="Enter email address" name="email"
                                   required>

                              <input type="number" class="form-control" placeholder="Enter phone number" name="number"
                                   required>

                              <select class="select-jobs form-control" name="jobs" class="form-select"
                                   aria-label="Default select example">
                                   <option selected>Please select your Job</option>
                                   <option value="call-receiver">Call Receiver</option>
                                   <option value="accountant">Accountant</option>
                                   <option value="online-typing">Online Typing</option>
                                   <option value="cook">cook</option>
                                   <option value="graphic-designer">Graphic Designer</option>
                              </select>

                              <textarea class="form-control" rows="6" placeholder="Tell us about your message"
                                   name="message" required></textarea>
                         </div>

                         <div class="col-md-4 col-sm-12">
                              <input type="submit" class="form-control">
                         </div>

                    </form>
               </div>

               <div class="col-md-6 col-sm-12">
                    <div class="contact-image">
                         <img src="images/contact.png" style="border-radius: 2rem;" class="img-responsive" alt="">
                    </div>
               </div>

          </div>
     </div>
</section>