 <section>
               <div class="container">
                    <div class="row">
                         <div class="col-md-12 col-sm-12">
                              <div class="section-title text-center">
                                   <h2 style="font-size: 5rem;">Featured Jobs</h2>
                              </div>
                         </div>

                         <div class="col-md-4 col-sm-4">
                              <div class="courses-thumb courses-thumb-secondary">
                                   <div class="courses-top">
                                        <div class="courses-image">
                                             <img src="./images/call-receivers.png" class="img-responsive" alt="">
                                        </div>
                                        <div class="courses-date">
                                             <span title="Location"><i class="fa fa-map-marker"></i> Lagankhel / Lalitpur</span>
                                             <span title="Type"><i class="fa fa-file"></i> Contract</span>
                                        </div>
                                   </div>

                                   <div class="courses-detail">
                                        <h3><a href="/call" style="font-size: 3rem;">Call Receivers</a></h3>

                                        <p class="lead"><strong>Rs 21,000</strong></p>

                                        <p>Lagankhel <strong>Lalitpur</strong></p>
                                   </div>

                                   <div class="courses-info">
                                        <a href="/call" class="section-btn btn btn-primary btn-block">View
                                             Details</a>
                                   </div>
                              </div>
                         </div>

                         <div class="col-md-4 col-sm-4">
                              <div class="courses-thumb courses-thumb-secondary">
                                   <div class="courses-top">
                                        <div class="courses-image">
                                             <img src="./images/accountant.png" class="img-responsive" alt="">
                                        </div>
                                        <div class="courses-date">
                                             <span title="Location"><i class="fa fa-map-marker"></i> Kathmandu Valley</span>
                                             <span title="Type"><i class="fa fa-file"></i> Contract</span>
                                        </div>
                                   </div>

                                   <div class="courses-detail">
                                        <h3><a style="font-size: 3rem;" href="/accountant">Accountant</a></h3>

                                        <p class="lead"><strong>Rs 10,000 - Rs 27,000</strong></p>

                                        <p>Kathmandu <strong>Experience Required</strong></p>
                                   </div>

                                   <div class="courses-info">
                                        <a href="/accountant" class="section-btn btn btn-primary btn-block">View
                                             Details</a>
                                   </div>
                              </div>
                         </div>

                         <div class="col-md-4 col-sm-4">
                              <div class="courses-thumb courses-thumb-secondary">
                                   <div class="courses-top">
                                        <div class="courses-image">
                                             <img src="./images/online.png" class="img-responsive" alt="">
                                        </div>
                                        <div class="courses-date">
                                             <span title="Location"><i class="fa fa-map-marker"></i> All Over Nepal</span>
                                             <span title="Type"><i class="fa fa-file"></i> Contract</span>
                                        </div>
                                   </div>

                                   <div class="courses-detail">
                                        <h3><a style="font-size: 3rem;" href="/online">Online Typing</a></h3>

                                        <p class="lead"><strong>Rs5000 - Rs 24,500</strong></p>

                                        <p><strong>Fresher`s can also Apply</strong></p>
                                   </div>

                                   <div class="courses-info">
                                        <a href="/online" class="section-btn btn btn-primary btn-block">View
                                             Details</a>
                                   </div>
                              </div>
                         </div>

                         <div class="col-md-4 col-sm-4">
                              <div class="courses-thumb courses-thumb-secondary">
                                   <div class="courses-top">
                                        <div class="courses-image">
                                             <img src="./images/cook.png" class="img-responsive" alt="">
                                        </div>
                                        <div class="courses-date">
                                             <span title="Location"><i class="fa fa-map-marker"></i> Kathmandu & Bhaktapur</span>
                                             <span title="Type"><i class="fa fa-file"></i> Contract</span>
                                        </div>
                                   </div>

                                   <div class="courses-detail">
                                        <h3><a style="font-size: 3rem;" href="/cook">Cook $ Helpers</a></h3>

                                        <p class="lead"><strong>Rs22,000 - Rs 45,000</strong></p>

                                        <p><strong>Inside Valley</strong></p>
                                   </div>

                                   <div class="courses-info">
                                        <a href="/cook" class="section-btn btn btn-primary btn-block">View
                                             Details</a>
                                   </div>
                              </div>
                         </div>

                          <div class="col-md-4 col-sm-4">
                              <div class="courses-thumb courses-thumb-secondary">
                                   <div class="courses-top">
                                        <div class="courses-image">
                                             <img src="./images/designer.png" class="img-responsive" alt="">
                                        </div>
                                        <div class="courses-date">
                                             <span title="Location"><i class="fa fa-map-marker"></i> Kathmandu</span>
                                             <span title="Type"><i class="fa fa-file"></i> Contract</span>
                                        </div>
                                   </div>

                                   <div class="courses-detail">
                                        <h3><a style="font-size: 3rem;" href="/designer">Graphic Designer</a></h3>

                                        <p class="lead"><strong>Rs 29,000</strong></p>

                                        <p><strong>UI / UX designer</strong></p>
                                   </div>

                                   <div class="courses-info">
                                        <a href="/designer" class="section-btn btn btn-primary btn-block">View
                                             Details</a>
                                   </div>
                              </div>
                         </div>

                          <div class="col-md-4 col-sm-4">
                              <div class="courses-thumb courses-thumb-secondary">
                                   <div class="courses-top">
                                        <div class="courses-image">
                                             <img src="./images/Receptionist.png" class="img-responsive" alt="">
                                        </div>
                                        <div class="courses-date">
                                             <span title="Location"><i class="fa fa-map-marker"></i> Kathmandu</span>
                                             <span title="Type"><i class="fa fa-file"></i> Contract</span>
                                        </div>
                                   </div>

                                   <div class="courses-detail">
                                        <h3><a style="font-size: 3rem;" href="/receptionist">Receptionist</a></h3>

                                        <p class="lead"><strong>Rs 12,000 - Rs 16,000</strong></p>

                                        <p><strong>Experience Required</strong></p>
                                   </div>

                                   <div class="courses-info">
                                        <a href="/receptionist" class="section-btn btn btn-primary btn-block">View
                                             Details</a>
                                   </div>
                              </div>
                         </div>

                         {{!-- guard  --}}
                         <div class="col-md-4 col-sm-4">
                              <div class="courses-thumb courses-thumb-secondary">
                                   <div class="courses-top">
                                        <div class="courses-image">
                                             <img src="./images/guard.png" class="img-responsive" alt="">
                                        </div>
                                        <div class="courses-date">
                                             <span title="Location"><i class="fa fa-map-marker"></i> Inside Valley</span>
                                             <span title="Type"><i class="fa fa-file"></i> Contract</span>
                                        </div>
                                   </div>

                                   <div class="courses-detail">
                                        <h3><a style="font-size: 3rem;" href="/guard">Security Guard</a></h3>

                                        <p class="lead"><strong>Rs 15,000 - Rs 25,000</strong></p>

                                        <p><strong>Experience Required</strong></p>
                                   </div>

                                   <div class="courses-info">
                                        <a href="/guard" class="section-btn btn btn-primary btn-block">View
                                             Details</a>
                                   </div>
                              </div>
                         </div>

                         {{!-- waiters  --}}
                         <div class="col-md-4 col-sm-4">
                              <div class="courses-thumb courses-thumb-secondary">
                                   <div class="courses-top">
                                        <div class="courses-image">
                                             <img src="./images/waiter.png" class="img-responsive" alt="">
                                        </div>
                                        <div class="courses-date">
                                             <span title="Location"><i class="fa fa-map-marker"></i> Kathmandu</span>
                                             <span title="Type"><i class="fa fa-file"></i> Contract</span>
                                        </div>
                                   </div>

                                   <div class="courses-detail">
                                        <h3><a style="font-size: 3rem;" href="/waiters">Waiters</a></h3>

                                        <p class="lead"><strong>Rs 8000 - Rs 14,000</strong></p>

                                        <p><strong>Fresher can Apply</strong></p>
                                   </div>

                                   <div class="courses-info">
                                        <a href="/waiters" class="section-btn btn btn-primary btn-block">View
                                             Details</a>
                                   </div>
                              </div>
                         </div>

                          {{!-- salse girl  --}}
                         <div class="col-md-4 col-sm-4">
                              <div class="courses-thumb courses-thumb-secondary">
                                   <div class="courses-top">
                                        <div class="courses-image">
                                             <img src="./images/salse.png" class="img-responsive" alt="">
                                        </div>
                                        <div class="courses-date">
                                             <span title="Location"><i class="fa fa-map-marker"></i> Lalitpur , Bhaktapur</span>
                                             <span title="Type"><i class="fa fa-file"></i> Contract</span>
                                        </div>
                                   </div>

                                   <div class="courses-detail">
                                        <h3><a style="font-size: 3rem;" href="/salse">Salse Girl</a></h3>

                                        <p class="lead"><strong>Rs 12,000</strong></p>

                                        <p><strong>Fresher can Apply</strong></p>
                                   </div>

                                   <div class="courses-info">
                                        <a href="/salse" class="section-btn btn btn-primary btn-block">View
                                             Details</a>
                                   </div>
                              </div>
                         </div>


                    </div>
               </div>
          </section>