<head>

    <!-- Vendor CSS Files -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
        integrity="sha512-wnea99uKIC3TJF7v4eKk4Y+lMz2Mklv18+r4na2Gn1abDRPPOeef95xTzdwGD9e6zXJBteMIhZ1+68QC5byJZw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<section class="pt-7">
    <div class="container w-full h-auto">
        <div class="row align-items-center">
            <div class="mt-20 col-md-6 text-md-start text-center py-6">
                <h1 class="slide mb-4 fs-9 font-bold text-7xl">Access Hundred of
                                Executive Jobs across Kathmandu.</h1>
                <p class="slide mb-6 mt-10 lead text-secondary font-bold mt-8">Forget the old Rules<br
                        class="d-none d-xl-block" />You can find the best Jobs<br
                        class="d-none d-xl-block" />Right now. Right here.</p>
                <a href="/jobs" class="pop hero-btn mt-12 section-btn btn btn-default">Browse Jobs</a>
            </div>
            <div class="col-md-6 text-end"><img class="pop pt-7 pt-md-0 img-fluid" src="./images/hero.png"
                    alt="" /></div>
        </div>
    </div>
</section>