<ul class="social-icon pull-right">
    <li><a href="https://www.facebook.com/profile.php?id=100078338229698" class="fa fa-facebook"></a></li>
    {{!-- <li><a href="#" class="fa fa-envelope-o"></a></li>
    <li><a href="#" class="fa fa-linkedin"></a></li> --}}
</ul>